body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Righteous", cursive;
	min-height: 100vh;
	background-color: #0a0047;
	background-image: linear-gradient(180deg, #0a0047 0%, #000000 100%);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	background-color: rgba(10, 0, 71, 0.8);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-left: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

.container {
	max-width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 35px;
	margin: 0 auto;
	padding: 40px 20px;
}

/* CSS for the typewriter animation */
.animated-text span {
  opacity: 0;
  animation: typeWriter 0.2s steps(125) forwards;
}

@keyframes typeWriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}


section, h2 {
  display: flex;
  justify-content: center;
	color: white;
	font-size: 16px;
}

.card {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #0c213d;
	border-radius: 15px;
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.face {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.face1 {
	box-sizing: border-box;
	padding: 20px;
}

h2 {
	margin: 0;
	padding: 0;
}

.one {
	background-color: #fffc00;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.two {
	background-color: #00fffc;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.three {
	background-color: #fc00ff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.four {
	background-color: #ff9a9e;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.five {
	background-color: #b7f8db;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.face2 {
	transition: 0.5s;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 10em;
	color: #fff;
	transition: 0.5s;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.card:hover .face.face2 {
	height: 60px;
}

h2 {
	font-size: 2em;
}

.card:nth-child(1) .face.face2 {
	background-image: linear-gradient(90deg, #f7971e 0%, #ffd200 100%);
	border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
	background-image: linear-gradient(90deg, #6190e8 0%, #a7bfe8 100%);
	border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
	background-image: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
	border-radius: 15px;
}

.card:nth-child(4) .face.face2 {
	background-image: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
	border-radius: 15px;
}

.card:nth-child(5) .face.face2 {
	background-image: linear-gradient(90deg, #b7f8db 0%, #50a7c2 100%);
	border-radius: 15px;
}

footer {
	text-align: center;
	padding: 20px;
	background-image: linear-gradient(0deg, #0a0047 0%, #000000 100%);
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}
